
  <h4>Autores</h4>
  <div>
    <p> Enrique Sánchez Tolbaños y Manuel García-Amado Sancho</p> </br>
    <img src="/images/f1.png" height="120px" width="120px"> 
    <img src="/images/enrique.png" height="120px" width="120px">  
  </div>
